body {
  font-family: "Calibri";
  background-color: rgb(130, 186, 219);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}
